@import url();

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";

}

:root
{
--bgcolor: #f1f5fd;
--primary-color:#6f5de7;
--text-color:#828286;
--main-text-color:#333333;
}
html{
  font-size: 62.5%;
}
a{
text-decoration: none;
color: #fff;
}

h1,h2,h3,h4,h5,h6{
  color: #333333;
}

/*navbar style*/
.navbar-bg{
  background-color: var(--bgcolor);
  padding: 2rem 0;
  z-index: 99;
  position: relative;
}
.navbar-brand{
  font-size: 2.5rem;
}

.navbar li{
  padding: 0 2rem;
}

.navbar li a{
  font-size: 1.7rem;
  font-weight: lighter;
}
.navbar li a:hover{
  color: var(--primary-color)  !important
}

.btn-style{
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
}
.btn-style:first-child{
  margin-right: 2rem;
}
.btn-style:hover{
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}
.btn-style-border{
   border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}
.btn-style-border:hover{
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
}
/* ..............................navbar ends............................. */

/* ..........................image section starts.............................*/
header{
background-color: var(--bgcolor);
min-height: 100vh ;
width: 100%;
}

.main-hero-container{
  height: 80vh;
  display: flex;
  ;
}
.main-hero-container h1{
text-transform: capitalize;
font-weight: bolder;
}
.main-hero-container h3 {
  font-weight: lighter;
}
.main-hero-para{
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: 75%;
}

.main-hero-para h3 {
  font-weight: lighter;
}

/* input group styling */
.input-group
{
position: relative !important;

}
.form-control-text{
position: absolute;
height: 4.9rem;
border: none;
max-width: 31rem;
outline-style: none;
padding-left: 1.5rem !important;
font-size: 1.4rem ;
font-weight: lighter;
}

.input-group-button{
  position: absolute ;
  right: 44.7%;
  top: 0.5rem;
  color: #fff;
  background-color: var(--primary-color);
  height: 4rem;
  width: 15%;
  border-radius: 2rem !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bolder;
}
/*right side of hero section*/
.main-hero-section-images{
  position: relative;
}
.main-hero-section-images img{
  height: 75%;
  width: 60%;
  margin-top: 7rem;
  box-shadow: 0 0.8rem 0.8rem rgba(0,0,0,0.05);
  border-radius: 1.5rem;
  position: absolute;
}
.main-hero-section-images .main-hero-img2{
  position: absolute;
  width: 40%;
  height: 30%;
  left:55%;
  top:-7%;
  box-shadow: 0.8rem 0 0.8rem rgba(0,0,0,0.05);
}
/* ..........................image section ends.............................*/


/* .....................responsive media quries .......................*/
@media (min-with: 1500px)
{
  .container
  .container-lg
  .container-md
  .container-sm
  .container-xl
  .container-xxl{
    max-width: 1500px !important;
} 

@media (min-with: 1400px){
  .container
  .container-lg
  .container-md
  .container-sm
  .container-xl
  .container-xxl{
    max-width: 1400px !important;
}
}
}